.navbar {
  overflow: hidden;
  display: flex;
  background-color:#ffff;
  position: fixed;
  right: 10px;
  z-index: 1;

  a {
    float: right;
    display: block;
    color: #0a0909;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
    &:hover {
      background-color: #ddd;
      color: rgba(0, 0, 0, 0.53);
    }
    
    &.active {
      background-color: #04AA6D;
      color: white;
    }
  } 
}
